/*background image*/
body {
  background-image: linear-gradient(rgb(210, 210, 210), rgb(255, 255, 255));
}


/*navigation styling*/
.nav-list1 {
  position: relative;
  display: inline-block;

  color: white;
  font-size:xx-large;

  list-style-type: none;
}

.nav-list1 li{
  float:left;
  width:240px;
  margin: auto;
  height: 42px;
  background-color: rgb(68, 82, 127);
  text-align: center;
  border-right: 5px;
  border: solid #f1f1f1;
}

.nav-list2 {
  display: none;
  
  position:relative;
  font-size:medium;
  width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 1;
}

.nav-list2 li {
  color: black;
  background-color: #f9f9f9;
  padding: 8px 0px 4px 0px;
  width: 240px;  
  text-decoration: none;
  display:block;
  float: none;
}

.nav-list2 li:hover {background-color: #f1f1f1}

.nav-list1 li:hover .nav-list2{
  display: block;
}
/*end of navigation styling*/


/*Images Styling*/
.footer-img {width:10px;}

img {width: 30px;}

.logo-img {width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.logo-img {width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body img {
 
  margin-right: auto;
  margin-left: auto;
}
/*end of Images Styling*/

/*Links <a> Styling*/
a:link {text-decoration: none; color:black;}
a {text-decoration: none;}
li a:visited{color: white;}
.nav-list2 a:visited{color: black;}




/*Our Team slider Styling*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0px 8px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .column {
    width: 80%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: table;
  width: 400px;
  min-height: fit-content;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;

}

.container {
  padding: 0px 0px;
  float: right;
  width: 200px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.year {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:rgb(68, 82, 127);
  text-align: center;
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
}

.container a {color:white;}

.button:hover {
  background-color: #555;
}

.img-col1
{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  display: block;
  float: left;
}


.row {
  background-color: white;
  max-height: fit-content;
  border: 1px solid#ddd;
  padding-top: 15px;
  display: flex;
  width: 95%;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-right: auto;
  margin-left: auto;
}

.row .column{
  min-width: 425px;
  
  line-height: 15px;
  text-align: center;
  
}

.row::-webkit-scrollbar {
  display: none;
}

.year {
  font-size: small;
  color: rgb(159, 159, 159);
}

.member-email {
  font-size:small;
  color: rgb(88, 110, 110);
}
/*end of Our Team slider Styling*/


/*iframe Styling*/
.google-map-iframe {
  width: 100%;
}



.youtube-iframe {
  margin-right: auto;
  margin-left: auto;
  display: block;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
/*end of iframe Styling*/



/*--footer Styling--*/

.footer-img {width:10px;}

 figure img{
  width: 65%;
  display: block;
  border-radius: 10px;
  
}



 /*paragraphs, heading styling*/
  h3{
  font-size: 30px;
  
  text-align: center;
  color: rgb(170, 169, 169);
  background-color:rgb(42, 42, 42) ;
  width: 65%;
  border-radius: 10px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  }

  body p:not(footer p, .row p, form p), .discription-list{
    width: 50%;
    position: relative;
    background-color: rgb(234, 233, 233);
    font-size: x-large;
    border-radius: 10px;
    padding: 20px;
    
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
  }

  

  h2:not(.row h2) {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(68, 82, 127);
    color: white;
    width: 65%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    text-align: center;
    font-size: 50px;
  }
  /* text in h2 animation */
  .zoom-in-zoom-out
  {
    animation: zoom-in-zoom-out 0.8s;
  }
@keyframes zoom-in-zoom-out
{
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1.5,1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* logo animation */
.logo-img{
  animation-name: fadeInAnimation;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation{
  0% {opacity: 0;}
  100%{opacity: 1;}
}
   figcaption {
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
    width: fit-content;
    padding: 5px;

    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
  }

.discription-list dt {
  font-weight: bold;
  padding-bottom: 10px;
}

.discription-list li {
  padding-bottom: 0.5px;
}


form{
  margin-right: auto;
  margin-left: auto;
}

 /* Tile of each page animation */
h1 {
  text-align: center;
  text-decoration-style: bold ;
    color: white;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s ;
    animation-name: text;
    letter-spacing: 5px;
 }

@keyframes text
{
  0% {color:  black; margin-bottom: -40px;}
  30%{letter-spacing: 20px; margin-bottom: -40px;}
}
 
/* animantion typewriter for the h3 titles Name of places */

.typewriter
{
  position: relative;
}
.typewriter::after
{
  content: '|';
  position: absolute;
  right: 0;
  color: rgb(42, 42, 42);
  background-color:rgb(42, 42, 42) ;
  width: 100%;
  animation: typing 3s alternate forwards ;
}
@keyframes typing
{
  to{
      width: 0%;
  }
}

/* animation for the texts */
p {
  animation-duration: 2.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 60%;
    width: 20%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
